{% extends './base.html' %}

{% block content %}
    <!--制定板块内容  -->
<div class="customized layout">
  <div class="text">
    <img src="/static/images/mao (1).png" alt="" class="img fl">
    <div class="info fr">
       <h2>好的定制·其实不贵</h2> 
       <p class="line1"></p>
       <p class="line2"></p>
       <p>20年专注北京定制旅行</p>
        <p>1对1专业服务团队</p>
        <span><img src="/static/images/mao (2).png" alt=""></span>
        <p>只为给你提供更极致的</p>
        <h3>自由行体验定制旅行，随自己的意愿玩</h3>
    </div>
  </div>
  <div class="user-input fl">
    <h2>订制我的行程</h2>
    <p><img src="/static/images/1.png" alt=""></p>
    <span><img src="/static/images/2.png" alt=""></span>
    <div action="" class="input-box fr">
      {% csrf_token %}
      <input type="text" name="from_location" class="from_location" placeholder="您的出发地">
      <input type="text" name="customer_name" class="customer_name" placeholder="您的名字">
      <input type="text" name="customer_phone" class="customer_phone" placeholder="您的手机号码">
      <input type="text" name="customer_number" class="customer_number" placeholder="出游人数">
      <input type="text" name="budget" class="budget" placeholder="您的预算">
      <input type="text" name="number_day" class="number_day" placeholder="出游天数">
      <button class="input-btn" type="button">确认并提交订制</button>
    </div>
    <!-- 提交弹窗 -->
    <div class="error"></div>
  </div>
</div>
{% endblock %}
{% block footer_script  %}
<script>
  //页面单独使用的js
    $(".input-btn").click(function () {
        var timestamp = Date.parse(new Date());
        current_time = $(this).attr('current_time');
        if ((current_time == 'undefined')) {
          $(this).attr('current_time', timestamp);
          postMessage()
        } else if ((timestamp - current_time) < 5000) {
            return false
        } else {
            postMessage()
        }
    })

    function postMessage() {
        phoneReg = /^[1][3,4,5,7,8][0-9]{9}$/;
        var from_location = $(".from_location").val()
        var customer_name = $(".customer_name").val()
        var customer_phone = $(".customer_phone").val()
        var customer_number = $(".customer_number").val()
        var budget = $(".budget").val()
        var number_day = $(".number_day").val()
        var csrf_token = $('.input-box').children().eq(0).val();
        var btn = $(".input-btn")
        if ($(".customer_phone").val() == "") {
            $(".error").css("display", "block").html("*手机号码不能为空!").delay(500).fadeOut()
            return;
        } else if ($(".customer_name").val() == "") {
            $(".error").css("display", "block").html("*请输入姓名").delay(500).fadeOut()
        } else if (!phoneReg.test($(".customer_phone").val())) {
            $(".error").css("display", "block").html("*请输入正确的手机号码!").delay(500).fadeOut()
        } else {
          $.ajax({
              url: '/addcustom/',
              type: 'POST',
              cache: false,
              dataType: 'json',
              data: {
                  from_location: from_location,
                  customer_name: customer_name,
                  customer_phone: customer_phone,
                  customer_number: customer_number,
                  budget: budget,
                  number_day: number_day,
                  csrfmiddlewaretoken: csrf_token
              },
              success: function (res) {
                if(res.res) {
                  $(".error").show().html("提交成功").delay(500).fadeOut()
                  location.reload();
                } else {
                  $(".error").show().html("提交失败！请等一会儿提交").delay(500).fadeOut()
                }
              }
          });
        }
    }
</script>
{% endblock %}