{% extends './base.html' %}

{% block content %}
    <!--第一板块  -->
    <!--面包屑导航  -->
     <div class="crumbs layout">
       <a href="/">首页</a>
       <span>
         <img src="/static/images/search  (4).png" alt="">
       </span>
         <a href="">北京</a>
       <span>
         <img src="/static/images/search  (4).png" alt="">
       </span>
       <a href="" class="active">线路详情</a>
     </div>

     <!--第二板块  -->
   <div class="appointment layout">
       <div class="photo ">
         <ul class="photo-tag fl">
           <li><img src="/static/Media/{{ data.image1 }}" alt=""></li>
           <li><img src="/static/Media/{{ data.image2 }}" alt=""></li>
           <li><img src="/static/Media/{{ data.image3 }}" alt=""></li>
         </ul>
        <ul class="photo-show fl">
          <li class="bigpic show">
            <img src="/static/Media/{{ data.image1 }}" alt="">
          </li>
           <li class="bigpic">
            <img src="/static/Media/{{ data.image2 }}" alt="">
          </li>
           <li class="bigpic">
            <img src="/static/Media/{{ data.image3 }}" alt="">
          </li>
        </ul>  
      </div>
      <div class="text-content fl">
            <h2>{{ data.title }}<h2>
            <span style="display: inline-block; margin-bottom: 10px;">包含路线</span>
            <p>{{ data.route1 }}</p>
            <p>{{ data.route2 }}</p>
            <p style="margin-bottom: 16px;">{{ data.route3 }}</p>
            <a href="" class="active">立即预约</a>
            <a href="">立即咨询</a>
           </div>
   </div>
   <!--第三板块  -->
  <ul class="info-tag layout clearfix">
      <li class="active"><a href="#introduce">行程介绍</a></li>
      <li><a href="#inclusion">费用包含</a></li>
      <li><a href="#exclude">费用不含</a></li>
  </ul>
    <div class="main-info layout">
      <h3 class="#introduce">行程介绍</h3>
      {% if data.trip1_title %}
        <div class="text-info">
            <h4><p class="icon"><span>1</span></p>{{ data.trip1_title }}</h4>
            <p>{{ data.trip1_introduce }}</p>
        </div>
      {% endif %}
      {% if data.trip2_title %}
        <div class="text-info">
            <h4><p class="icon"><span>2</span></p>{{ data.trip2_title }}</h4>
            <p>{{ data.trip2_introduce }}</p>
        </div>
      {% endif %}
      {% if data.trip3_title %}
        <div class="text-info">
            <h4><p class="icon"><span>3</span></p>{{ data.trip3_title }}</h4>
            <p>{{ data.trip3_introduce }}</p>
        </div>
      {% endif %}
      {% if data.trip4_title %}
        <div class="text-info">
            <h4><p class="icon"><span>4</span></p>{{ data.trip4_title }}</h4>
            <p>{{ data.trip4_introduce }}</p>
        </div>
      {% endif %}
      {% if data.trip5_title %}
        <div class="text-info">
            <h4><p class="icon"><span>5</span></p>{{ data.trip5_title }}</h4>
            <p>{{ data.trip5_introduce }}</p>
        </div>
      {% endif %}
      <h3 id="inclusion">费用包含</h3>
      {% if data.contain_cost %}
        <div class="text-info2">
          <p>
            {{ data.contain_cost }}
          </p>
        </div>
      {% else %}
        <div class="text-info2">
          <p style="font-size: 20px">无数据！</p>
        </div>
      {% endif %}
      <h3 id="exclude">费用不含</h3>
      {% if data.not_contain_cost %}
         <div class="text-info2">
           <p>
            {{ data.not_contain_cost }}
           </p>
         </div>
      {% else %}
         <div class="text-info2">
          <p style="font-size: 20px">无数据！</p>
         </div>
      {% endif %}
      {% if data.self_funded_project %}
          <h3>自费项目</h3>
          <div class="text-info2">
            <p>{{ data.self_funded_project }}</p>
          </div> 
      {% else %}
         <div class="text-info2">
          <p style="font-size: 20px">无数据！</p>
         </div>
      {% endif %}
    </div>
{% endblock %}

{% block footer_script %}
<script>
    //页面单独使用的js      
$(".info-tag li").click(function(){
    $(this).addClass("active").siblings().removeClass("active")
})

$(".photo-tag li").mouseover(function(){
var i =$(this).index()
$(".photo-show .bigpic").eq(i).addClass("show").siblings().removeClass("show")
})
</script>
{% endblock %}