{% extends './base.html' %}

{% block content %}
<!--banner 轮播 -->
 <!-- Swiper -->
 <div class="banner clearfix">
      <div class="swiper-container1">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
          <div style="background: url(/static/images/banner1.png)   no-repeat center ; height: 500px;"></div>
      </div>
      <div class="swiper-slide">  <div style="background: url(/static/images/banner2.png)   no-repeat center ; height: 500px;"></div></div>
      <div class="swiper-slide">  <div style="background: url(/static/images/banner3.png) no-repeat center ; height: 500px;"></div></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
 </div>
<!--第三板块  -->
<div class="big-title layout ">
    <div class="layout">
        <h2>超值特惠</h2>
    <p>每日推出特惠爆款产品，超值抢购</p>
    </div>
</div>
{% if SA_set %}
<div class="more layout clearfix"><a href="/indulgence/">更多 <span><img src="/static/images/search  (5).png" alt=""></span> </a></div>
<ul class="gratia-case layout">
  {% for sa in SA_set %}
  <li class="clearfix">
      <div class="img"><a href="/detail/SuperAffordable/{{ sa.id }}"><img src="/static/Media/{{ sa.goods_image }}" alt=""></a></div>
      <h2><a href="/detail/SuperAffordable/{{ sa.id }}">[月销{{ sa.order_number }}单]{{ sa.title }}</a></h2>
      <p><a href="">价格： 点击咨询</a></p>
  </li>
  {% endfor %}
  <!-- <li>
      <div class="img"><a href=""><img src="/static/images/gratia.png" alt=""></a></div>
      <h2><a href="">[月销3822单]北京三天两北京三天两</a></h2>
      <p><a href="">价格： 点击咨询</a></p>
  </li> -->
</ul>
{% else %}
<ul class="gratia-case layout">
  <li>
      <span style="font-size: 20px;">没有数据！</span>
  </li>
</ul>
{% endif %}
<!--第四板块  -->
<div class="big-title layout ">
    <div class="layout">
        <h2>当季精品</h2>
    <p>精选当季热门推荐</p>
    </div>
</div>
<div class="more layout clearfix"><a href="/boutique">更多 <span><img src="/static/images/search  (5).png" alt=""></span> </a></div>
<div class="boutique layout clearfix">
    <div class="bleft fl">
        {% if sf_left_set %}
          {% for sf_set in sf_left_set %}
            <div class="left-list">
              <div class="img">
                <a href="/detail/SeasonalFineProducts/{{ sf_set.id }}"><img src="/static/Media/{{ sf_set.goods_image }}" alt="">
                </a> </div>
                <h2><a href="/detail/SeasonalFineProducts/{{ sf_set.id }}">[月销{{ sf_set.order_number }}单]{{ sf_set.title }}</a></h2> 
                <p><a href="">价格： 点击咨询</a></p>           
            </div>
          {% endfor %}
        {% else %}
          <span style="font-size: 20px;">没有数据</span>
        {% endif %}
        <!-- <div class="left-list">
          <div class="img">
            <a href=""><img src="/static/images/dj-left.png" alt="">
             </a> </div>
            <h2><a href="">[月销3822单]北京三天两北京三天两</a></h2> 
            <p><a href="">价格： 点击咨询</a></p>           
        </div> -->
    </div>
    <div class="bmiddle fl">
        <img src="/static/images/middle.png" alt="">
    </div>
    <div class="bright fl">
      {% if sf_right_set %}
        {% for sf_set in sf_right_set %}
          <div class="left-list">
            <div class="img">
            <a href="/detail/SeasonalFineProducts/{{ sf_set.id }}"><img src="/static/Media/{{ sf_set.goods_image }}" alt="">
              </a> </div>
            <h2><a href="/detail/SeasonalFineProducts/{{ sf_set.id }}">[月销{{ sf_set.order_number }}单]{{ sf_set.title }}</a></h2> 
            <p><a href="">价格： 点击咨询</a></p>           
          </div>
        {% endfor %}
      {% else %}
          <span style="font-size: 20px;">没有数据</span>
      {% endif %}
    </div>
</div>

<!--第五板块  -->
<div class="chang-title layout">
    <h2><span>人气</span> / 爆款  <em>款款精品，好评如潮，定义旅行高品质</em></h2>
</div>
<div class="tab-parent  layout">
<ul class="tab-list clearfix">
    <li class="active">纯玩团</li>
    <li>精品游</li>
    <li>品质游</li>
    <li>全景游</li>
    <li>深度游</li>
</ul>
<div class="more"><a href="/popular">更多 <span><img src="/static/images/search  (5).png" alt=""></span> </a></div>
</div>
<ul class="content-list layout clearfix">
    <li class="exhibition show">
        <div class="list-left fl">
            <img src="/static/images/mljc.png" alt="">
        </div>
        <ul class="list-right fl">
          {% if popular_set1 %}
            {% for popular in popular_set1 %}
              <li>
                <div class="right-list ">
                  <div class="img">
                  <a href="/detail/PopularExplosions/{{ popular.id }}"><img src="/static/Media/{{ popular.goods_image }}" alt="">
                  </a> </div>
                  <h2><a href="/detail/PopularExplosions/{{ popular.id }}">[月销{{ popular.order_number }}单]{{ popular.title }}</a></h2> 
                  <p><a href="">价格： 点击咨询</a></p>
                </div>
              </li>
            {% endfor %}
          {% else %}
            <li style="font-size: 20px;">没有数据!</li>
          {% endif %}
        </ul>
    </li>
    <li class="exhibition">
        <div class="list-left fl">
            <img src="/static/images/mljc.png" alt="">
        </div>
        <ul class="list-right fl">
          {% if popular_set2 %}
            {% for pr in popular_set2 %}
              <li>
                <div class="right-list">
                <div class="img">
                  <a href="/detail/PopularExplosions/{{ pr.id }}"><img src="/static/Media/{{ pr.goods_image }}" alt=""></a>
                </div>
                <h2><a href="">[月销{{ pr.order_number }}单]{{ pr.title }}</a></h2> 
                <p><a href="">价格： 点击咨询</a></p>
                </div>
              </li>
            {% endfor %}
          {% else %}
            <li style="font-size: 20px;">没有数据!</li>
          {% endif %}
        </ul>
    </li>
    <li class="exhibition">
        <div class="list-left fl">
            <img src="/static/images/mljc.png" alt="">
        </div>
        <ul class="list-right fl">
          {% if popular_set3 %}
            {% for pr in popular_set3 %}
            <li>
                <div class="right-list">
                <div class="img">
                  <a href="/detail/PopularExplosions/{{ pr.id }}"><img src="/static/Media/{{ pr.goods_image }}" alt=""></a>
                </div>
                <h2><a href="">[月销{{ pr.order_number }}单]{{ pr.title }}</a></h2> 
                <p><a href="">价格： 点击咨询</a></p>
                </div>
              </li>
            {% endfor %}
          {% else %}
            <li style="font-size: 20px;">没有数据!</li>
          {% endif %}
        </ul>
    </li>
    <li class="exhibition">
        <div class="list-left fl">
            <img src="/static/images/mljc.png" alt="">
        </div>
        <ul class="list-right fl">
          {% if popular_set4 %}
            {% for pr in popular_set4 %}
            <li>
                <div class="right-list">
                <div class="img">
                  <a href="/detail/PopularExplosions/{{ pr.id }}"><img src="/static/Media/{{ pr.goods_image }}" alt=""></a>
                </div>
                <h2><a href="">[月销{{ pr.order_number }}单]{{ pr.title }}</a></h2> 
                <p><a href="">价格： 点击咨询</a></p>
                </div>
              </li>
            {% endfor %}
          {% else %}
            <li style="font-size: 20px;">没有数据!</li>
          {% endif %}
        </ul>
    </li>
    <li class="exhibition">
        <div class="list-left fl">
            <img src="/static/images/mljc.png" alt="">
        </div>
         <ul class="list-right fl">
            {% if popular_set5 %}
              {% for pr in popular_set5 %}
              <li>
                  <div class="right-list">
                  <div class="img">
                    <a href="/detail/PopularExplosions/{{ pr.id }}"><img src="/static/Media/{{ pr.goods_image }}" alt=""></a>
                  </div>
                  <h2><a href="">[月销{{ pr.order_number }}单]{{ pr.title }}</a></h2> 
                  <p><a href="">价格： 点击咨询</a></p>
                  </div>
                </li>
              {% endfor %}
            {% else %}
              <li style="font-size: 20px;">没有数据!</li>
            {% endif %}
         </ul>
    </li>
</ul>


<!--第六板块  -->
<div class="chang-title layout">
    <h2><span>主题</span> / 线路  <em>适合的才是最好的</em></h2>
</div>
<div class="tab-parent  layout">
<ul class="tab-list2 layout clearfix">
    <li class="active">亲子游</li>
    <li>商务游</li>
    <li>蜜月游</li>
    <li>毕业游</li>
    <li>老年游</li>
    <li>包团游</li>
</ul>
<div class="more"><a href="/itineray">更多 <span><img src="/static/images/search  (5).png" alt=""></span> </a></div>
</div>
<ul class="content-list2 layout clearfix">
    <li class="exhibition show">
        <div class="list-left fl">
            <img src="/static/images/mljc.png" alt="">
        </div>
         <ul class="list-right fl">
          {% if TR_set1 %}
            {% for tr in TR_set1 %}
            <li>
              <div class="right-list ">
                <div class="img">
                  <a href="/detail/ThemeRoute/{{ tr.id }}"><img src="/static/Media/{{ tr.goods_image }}" alt=""></a>
                </div>
                <h2><a href="">[月销{{ tr.order_number }}单]{{ tr.title }}</a></h2> 
                <p><a href="">价格： 点击咨询</a></p>
              </div>
            </li>
            {% endfor %}
          {% else %}
            <li style="font-size: 20px;">没有数据！</li>
          {% endif %}
         </ul>
    </li>
    <li class="exhibition">
        <div class="list-left fl">
            <img src="/static/images/mljc.png" alt="">
        </div>
        <ul class="list-right fl">
          {% if TR_set2 %}
            {% for tr in TR_set2 %}
            <li>
              <div class="right-list ">
                <div class="img">
                  <a href="/detail/ThemeRoute/{{ tr.id }}"><img src="/static/Media/{{ tr.goods_image }}" alt=""></a>
                </div>
                <h2><a href="">[月销{{ tr.order_number }}单]{{ tr.title }}</a></h2> 
                <p><a href="">价格： 点击咨询</a></p>
              </div>
            </li>
            {% endfor %}
          {% else %}
            <li style="font-size: 20px;">没有数据！</li>
          {% endif %}
        </ul>
    </li>
    <li class="exhibition">
        <div class="list-left fl">
            <img src="/static/images/mljc.png" alt="">
        </div>
        <ul class="list-right fl">
          {% if TR_set3 %}
            {% for tr in TR_set3 %}
            <li>
              <div class="right-list ">
                <div class="img">
                  <a href="/detail/ThemeRoute/{{ tr.id }}"><img src="/static/Media/{{ tr.goods_image }}" alt=""></a>
                </div>
                <h2><a href="">[月销{{ tr.order_number }}单]{{ tr.title }}</a></h2> 
                <p><a href="">价格： 点击咨询</a></p>
              </div>
            </li>
            {% endfor %}
          {% else %}
            <li style="font-size: 20px;">没有数据！</li>
          {% endif %}
        </ul>
    </li>
    <li class="exhibition">
        <div class="list-left fl">
            <img src="/static/images/mljc.png" alt="">
        </div>
        <ul class="list-right fl">
          {% if TR_set4 %}
            {% for tr in TR_set4 %}
            <li>
              <div class="right-list ">
                <div class="img">
                  <a href="/detail/ThemeRoute/{{ tr.id }}"><img src="/static/Media/{{ tr.goods_image }}" alt=""></a>
                </div>
                <h2><a href="">[月销{{ tr.order_number }}单]{{ tr.title }}</a></h2> 
                <p><a href="">价格： 点击咨询</a></p>
              </div>
            </li>
            {% endfor %}
          {% else %}
            <li style="font-size: 20px;">没有数据！</li>
          {% endif %}
        </ul>
    </li>
    <li class="exhibition">
        <div class="list-left fl">
            <img src="/static/images/mljc.png" alt="">
        </div>
        <ul class="list-right fl">
          {% if TR_set5 %}
            {% for tr in TR_set5 %}
            <li>
              <div class="right-list ">
                <div class="img">
                  <a href="/detail/ThemeRoute/{{ tr.id }}"><img src="/static/Media/{{ tr.goods_image }}" alt=""></a>
                </div>
                <h2><a href="">[月销{{ tr.order_number }}单]{{ tr.title }}</a></h2> 
                <p><a href="">价格： 点击咨询</a></p>
              </div>
            </li>
            {% endfor %}
          {% else %}
            <li style="font-size: 20px;">没有数据！</li>
          {% endif %}
        </ul>
    </li>
    <li class="exhibition">
        <div class="list-left fl">
            <img src="/static/images/mljc.png" alt="">
        </div>
         <ul class="list-right fl">
          {% if TR_set6 %}
            {% for tr in TR_set6 %}
            <li>
              <div class="right-list ">
                <div class="img">
                  <a href="/detail/ThemeRoute/{{ tr.id }}"><img src="/static/Media/{{ tr.goods_image }}" alt=""></a>
                </div>
                <h2><a href="">[月销{{ tr.order_number }}单]{{ tr.title }}</a></h2> 
                <p><a href="">价格： 点击咨询</a></p>
              </div>
            </li>
            {% endfor %}
          {% else %}
            <li style="font-size: 20px;">没有数据！</li>
          {% endif %}
         </ul>
    </li>
</ul>

<!--第七板块  -->
<div class="big-title layout ">
    <div class="layout">
        <h2>优质服务</h2>
    <p>我们致力于为您的旅途提供极致的体验</p>
    </div>
</div>
<div class="chose layout clearfix">
  <div class="contrast-bg">
      <div class="punn fl">
                <h2>朋恩旅行社</h2>
                <p>15到20人小团</p>
                <p>科学安排行程</p>
                <p>专人在线解答</p>
                <p>三档酒店随您选</p>
                <p>机场 / 车站接送</p>
                 <p>根据路线定价格</p>
                <p>纯玩0购物</p>
                <p>签约合同保障</p>
      </div>
        <div class="other fr">
                <h2>其他旅行社</h2>
                <p>30人以上大团</p>
                <p>压缩行程</p>
                <p>回复不及时</p>
                <p>酒店安排不妥当</p>
                 <p>无人接送</p>
                <p>路线价格虚高</p>
                <p>可能有购物</p>
                <p>无签约保障</p>
      </div>
  </div>
</div>

<!--第八板块  -->
<div class="share layout">
    <div class="big-title  ">
    <div class="">
        <h2>旅行分享</h2>
    </div>
    </div>
<div class="travel-share clearfix">
    <div class="share-bg fl">
        <img src="/static/images/share.png" alt="">
    </div>

     <div class="introduce fl">
       {% if tripShare.content %}
        {{ tripShare.content|safe }}
       {% else %}
        <span style="font-size: 20px;">没有数据！</span>
       {% endif %}
    </div>
</div>
</div>
{% endblock %}
