{% extends 'base.html' %}

{% block content %}
    <!--第一板块  -->
    <!--面包屑导航  -->
     <div class="crumbs layout">
       <a href="">首页</a>
       <span>
         <img src="/static/images/search  (4).png" alt="">
       </span>
       <a href="" class="active">景点文化</a>
     </div>
      <div class="recommend layout clearfix">
        <div class="text fl">
          <h2>景点文化</h2>
          <p class="small-title">SCENIC SPOT CULTURE</p>
           <p class="number">共有<span>{{ data_num }}</span>条景点文化介绍</p>
           <span><img src="/static/images/search  (6).png" alt=""></span>
        </div>
          <div class="img fl">
            <img src="/static/images/poster (1).png" alt="">
          </div>
      </div>
          <ul class="tagcontent layout show">
            {% if data_set %}
              {% for data in data_set %}
              <li class="content-box clearfix">
                <div class="img fl">
                  <img src="/static/Media/{{ data.goods_image }}" alt="">
                </div>
                <div class="text-content text-content2 fl">
                  <h2>{{ data.title }}</h2>
                  <span>包含路线</span>
                      <p>{{ data.route1 }}</p>
                      <p>{{ data.route2 }}</p>
                      <p>{{ data.route3 }}</p>
                      <a href="">点击咨询</a>
                </div>
              </li>
              {% endfor %}
            {% else %}
              <li style="font-size: 20px;">没有数据！</li>
            {% endif %}
          </ul>
<!--悬浮咨询窗  -->
<!-- <div class="layout">
  <div class="suspension">
  <h2>没有喜欢的行程吗</h2>
  <p>试试旅游订制师</p>
  <p class="p">一对一专业的订制吧</p>
  <a href="">在线咨询</a>
  <a href="">联系我们</a>
  <img src="/static/images/poster (4).png" alt="">
</div> -->
</div>
{% endblock %}
