<!doctype html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no, email=no" />
  <link rel="stylesheet" href="/static/zmobilestrategy/css/reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="/static/zmobilestrategy/css/border.css">
  <link rel="stylesheet" href="/static/zmobilestrategy/css/style.css">
  <title>旅游攻略</title>
  <script src="/static/zmobilestrategy/js/jquery.js"></script>
  <script>
		$.ajax({
			url: "/zmobilestrategy_data/",
			type: 'GET',
			success: function(res) {
				tmp_name = res.username;
				tmp_phone = res.phone_number
				img_url = res.img_url
				$('.tmp_phone').text(tmp_phone);
				$('.tmp_name').text(tmp_name);
			}
		});    
  </script>
</head>

<body data-psd-width="750">
  <h2 class="title">半自由行-北京旅游攻略</h2>
  <div class="main">
    <h3 class="small-title">去过的我分享北京旅行一吃·游·住·行秘籍</h3>
    <div class="set">
      <p>发布: <span>3天前</span></p>
      <p>阅读: <span>561537</span></p>
    </div>
    <p>一家人刚从北京玩回来，分享一下我们一家人的行程和体会。因为去年朋友也去了北京玩，出发前做了很详细的攻略说发挥的作用不大，到了之后连酒店都找不到，第二天到景区玩
      又排长队买票，时间几乎全浪费在交通和排队上了。所以朋友告诫我去北京玩之前一定要做好攻略。而我在出发前一直纠结是选择自由行还是跟团游，我也担心父母孩子受累，在网上看攻略的时候看到品质游定制师- <strong>
        <span class="tmp_name"></span> 
        <span class="tmp_phone"></span>
      </strong> <em>（微信同号）</em>，游客评价口碑都相当高，经过详细了解后，<strong>
        <span class="tmp_name"></span> 
      </strong>是专业的旅游定制师，可以根据游客的出行情况为游客科学安排路线，特别是为老人和小孩考虑的特别周到，还可以帮忙解决门票及交通等问题。<strong>
        <span class="tmp_name"></span> 
      </strong>的专业征服了我，我把全程的安排交给<strong>
        <span class="tmp_name"></span> 
      </strong>，也把美好的北京之旅的期望寄托在了<strong>
        <span class="tmp_name"></span> 
      </strong>的身上。事实证明，果然很不错！</p>
    <img src="/static/zmobilestrategy/images/12.png" alt="">
    <h4 style="margin-top: 0;">分享一下我们的四天北京旅游攻略：</h4>
    <p><span
        style="font-size: .36rem;color:#000">第一天：</span>中午高铁抵达北京后，专职司机来接我们去酒店放了行李。下午我们一家人去了王府井，三里屯自由逛了逛有名的商业街。晚上去南锣鼓巷吃了很多老北京小吃，也真正的感受到了首都的繁华~很开心休闲的一个下午。
    </p>
    <img src="/static/zmobilestrategy/images/9.png" alt="">
    <p><span style="font-size: .36rem;color:#000">第二天：</span>游览世界最大的城市中心广场<span class="span">【天安门广场】</span>
      ，也参观<span class="span">【毛主席纪念堂】</span>，缅怀一代伟人的光辉业绩。父母来北京最大的心愿就是参加升国旗仪式和看看毛主席，所以他们真的很开心。之后安排我们游览明清两代皇宫<span
        class="span">【故宫博物院】</span>，故宫旧称紫禁城，始建于 1406 年，是明、清两代的皇宫，无以伦比的古代建筑杰作，世界现存最大、最完整的的古建筑群。</p>
    <p class="p2">午餐后<span class="span">【孔庙国子监】</span>参观元、明、清三代国家管理教育的最高行政机构和国家设立的最高学府<span
        class="span">【国子监】</span>和皇帝举行国家祭孔子先师仪式的场所<span class="span">【孔庙】</span>，观赏古韵悠扬的《大成礼乐》表演。游览最美街区一<span
        class="span">【什刹海风景区】</span>,步行逛北京胡同。</p>
    <p class="p2">这一天行程下来，景点距离较近，没有浪费时间，还能得到比较充足的休息时间。安排上可以说早上实现了父母的愿望，下午让孩子接受了学术氛围的熏陶，感觉的到他们都很是开心。</p>
    <img src="/static/zmobilestrategy/images/14.png" alt="">
    <p><span style="font-size: .36rem;color:#000">第三天：</span>早餐后游览<span
        class="span">【八达岭长城】</span>，俗话说不到长城非好汉，观长城内外祖国大好河山。八达岭长城集巍峨险峻、秀丽苍翠于一体，为全国十大风景名胜区之首，共有 300
      余位世界各国的国家元首、政府首脑登上过八达岭长城。</p>
    <p class="p2">午餐吃的老北京春饼宴，味道很棒。然后参观<span class="span">【明长陵】</span>，明长陵为明十三陵之首，是十三陵中建筑规模最大，营建时间最早，陵园规模宏大。参观<span
        class="span">【北京奥林匹克公园】</span>观“鸟巢”、“水立方”等奥运场馆建筑群。</p>
    <img src="/static/zmobilestrategy/images/13.png" alt="">
    <img src="/static/zmobilestrategy/images/15.png" alt="" class="img2">
    <p><span style="font-size: .36rem;color:#000">第四天：</span>早餐后游览我国现存规最大、保存最完整的皇家园林<span
        class="span">【颐和园】</span>，颐和园是乾隆皇帝为其母亲祝寿而建，由极重视养生长寿的慈禧太后重建，颐养天年和万寿无疆是其建园初衷，因而成为福和寿文化最为深厚的皇家园林。随后车览<span
        class="span">【清华大学或北京大学】</span>，带孩子来北京一定要看看清华北大这两座世界名校，让孩子在游玩的同时长见识。 然后参观<span
        class="span">【恭王府】</span>。恭王府是清代大贪官和珅的府邸，一句俗话说的好“一座恭王府，半部清代史”。可见恭王府多奢华，是个非常值得一看的景点。
    </p>
    <img src="/static/zmobilestrategy/images/10.png" alt="">
    <p>这四天玩下来我们一点没操心，全程安排的特别周到，父母孩子也很开心。每个大人才只花了1200多，吃的都是北京特色菜，住的酒店环境也很好。要知道北京吃住行什么都贵，所以真的太划算啦。</p>
    <p>最重要的是，全程没有一个购物店，专业又贴心，的确是高品质纯玩，所以强烈推荐！</p>
    <h4>关于住宿选择的总结分享：</h4>
    <p>1、如果是自由行不要跟机场、车站出口处的拉客仔或拉客大妈去他们推荐的酒店。</p>
    <p>2、北京酒店淡旺季差别很大，不要因为淡季来过很便宜就以为全年都是这样的价格。</p>
    <p>3、北京的酒店都需要预定，否则有可能因为后面的客人的预定而不能让你续住。所以到北京之前最好确定好房间，特别是晚上临时找住处会很被动。总之，酒店一定得提前确定下来！</p>
    <p class="p2">我们出发前比较了好几家，最后还是觉得<strong>
      <span class="tmp_name"></span>
      </strong> 制定的行程及帮我们安排的酒店无论是从行程的来回上还是性价比上都更好。</p>
    <p class="p2">小算了一下，玩加起来人均至少要到3000以上了，还有诸多不可预估的麻烦，<strong>
      <span class="tmp_name"></span>
      </strong>安排即省心又省钱，安排的住宿也很有特色，最重要的是自由度还高，所以果断选择了相信<strong>
      <span class="tmp_name"></span>
      </strong>！</p>
    <p class="p2">如果你想了解可以加她微信咨询一下，她是个时常带着微笑的女孩子，会很乐意为您解答的。</p>
    <p class="p2"><strong>
      <span class="tmp_name"></span>
      <span class="tmp_phone"></span>
      </strong><em>（微信同号）</em></p>
    <p class="p2">附上住宿美照一张：</p>
    <img src="/static/zmobilestrategy/images/11.png" alt="">
    <h4>必须注意的小细节：</h4>
    <p>1、北京景点太分散，除非功课做的特别好，否则不建议自己玩，很浪费时间 ；</p>
    <p>2、衣物要提前备好，穿运动鞋最好；</p>
    <p>3、在启程之前要做好大致的行程安排、 因为好订酒店，不然你都搞不清楚要住哪里，尤其旺季临时订肯定没房，人超级多哦；</p>
    <p>4、不要轻信在街上“跑路单”的出租车和顺风车司机的鬼话，说50元载你目的地，很近呀，其实他们就是把你们卖给其他旅行社赚钱，一定要牢记天下没有免费的午餐，不然你至少要多花3000以上的费用。</p>
    <p>5、找定制师的话再次推荐当地
      <span class="tmp_name"></span>
      ，电话/微信同号：
      <span class="tmp_phone"></span>
      ，能量身定制行程、安排住宿很有特色、行程安排合理，最重要是能够玩的轻松开心，全程拍拍拍</p>
    <p>6、防晒用品：墨镜、阳伞、遮阳帽、防晒霜（指数要高）、润唇膏等可以有效的防止紫外线，如果不采取任何防晒措施的话，皮肤很容易被晒黑或晒伤。</p>
    <p>7、药物：根据自己的健康状况，还要带上所需要的常备药品如消炎、止痛、晕车晕船、清热解毒的药品，风油精，万金油等。</p>
    <h4>分享吃货行动记：
      <span class="tmp_name"></span>
      给我们普及了北京旅游不容错过的美食，随便也分享给大家。</h4>
    <p><span class="span2">1、护国寺小吃店：</span>年糕、豆腐脑、凉面、豆汁、糖耳朵、
      驴打滚、松肉、豌豆黄、糊塌子、糖火烧、糖卷果、焦圈、八宝粥、炸豆腐、爆肚、炸松肉、肉饼、面茶、奶油炸糕、杏仁豆腐、炒疙瘩、羊杂汤、烧饼夹肉</p>
    <p><span class="span2">2、王府井小吃街：</span>灌肠、爆肚、冰糖葫芦、老北京酸奶 茶汤、没有 臭豆腐、烤玉米、章鱼小丸子、羊肉串</p>
    <p> <span class="span2">3、北京全聚德：</span>烤鸭、盐水鸭肝等经典菜式</p>
    <p><span class="span2">4、牛街：</span>江米凉糕、蜜三刀、豌豆黄</p>
    <p><span class="span2">5、陈记卤煮小肠：</span>蓑衣黄瓜、陈记卤煮小肠、卤煮菜底、 炒肝、小肠、肺头、焦溜肥肠、灌肠、卤煮小肠</p>
    <p><span class="span2">6、便宜坊烤鸭：</span>焖炉式烤鸭的代表</p>
    <p>以上是<strong>
      <span class="tmp_name"></span>
      </strong> 普及的北京美食分布情况,还需要了解其他的可以加她微信咨询：<strong>
      <span class="tmp_phone"></span>
      </strong> <em>（微信同号）</em></p>
    <h4>人生中最美好的就是你爱着的人，看过的风景，还有一路留下的记忆。愿您的旅途也留下美好的回忆！</h4>
  </div>

  <div class="content">
    <h5>评论</h5>
    <div class="detail">
      <div class="info"><span class="portrait"><img src="/static/zmobilestrategy/images/5.png" alt="">
        </span><span class="name">微笑girl</span><span class="grade">lv15</span> <span class="time">3天前</span></div>
      <p>逛了一圈才发现原来作者北京旅游也是 <strong>
        <span class="tmp_name"></span>
        </strong> 定制的行程，
        <span class="tmp_name"></span>
        人真的很好，上个月和老公带小孩儿一起去了趟北京玩，当时没考虑找旅行社，想自由行，玩的自在点嘛。看了不少攻略（想起来头都晕了...），后来找到<strong>
        <span class="tmp_name"></span>
        </strong>，她对当地非常了解，帮我们规划行程，帮我们省了不少钱，少走不少弯路，北京景点比较分散，真的是要规划好才行。5天下来比自己做攻略省了将近1000块钱，最精华的什么长城、故宫、天安门、鸟巢等都去了，住的当地4星酒店，挺不错的。这是她的<strong>微信:
          <span class="tmp_phone"></span>
        </strong>，有需要可以加一下。</p>
      <div class="reversion">
        <p><span class="span3">安年：</span>亲，你们具体行程是怎么玩的？有什么要特别注意的么？</p>
        <p><span class="span3">微笑girl ：</span><em>@安年</em>
          其实去北京一般必去的景点有长城、故宫、天安门、鸟巢、纪念堂、颐和园、圆明园、天坛公园等这些地方都去了，当地交通<strong>
          <span class="tmp_name"></span>
          </strong>都提前安排好了的，住的是当地四星酒店。总的来说，<strong>
          <span class="tmp_name"></span>
          </strong>帮安排的行程很不错，玩的也自在，比自己玩省钱不少，关键也省心很多，少走很多弯路和回头路。再就是，你有啥问题也可以直接问问<strong>
          <span class="tmp_name"></span>
          </strong>，人很好的，有关北京的旅游方面的都知道。</p>
        <p><span class="span3">安年：</span>谢谢了，我先加
          <span class="tmp_name"></span>
          问问喏</p>
      </div>
    </div>
    <div class="detail">
      <div class="info"><span class="portrait"><img src="/static/zmobilestrategy/images/7.png" alt="">
        </span><span class="name">睿</span><span class="grade">lv9</span> <span class="time">3天前</span></div>
      <p>
        我上次去云北京就是自己玩的，北京景点很分散，当时也是第一次去，玩的累死了...可能是人生地不熟的原因，消费也不低，3天就花了2000多，还不算来回机票呢。想要深度游一次，打算月底再去北京耍耍，到时候再联系你们说的<strong>定制师-
          <span class="tmp_name"></span>
          </strong> 帮安排行程。。</p>
    </div>
    <div class="detail">
      <div class="info"><span class="portrait"><img src="/static/zmobilestrategy/images/1.png" alt="">
        </span><span class="name">迷糊</span><span class="grade">lv8</span> <span class="time">3天前</span></div>
      <p>一个月前从北京旅游回来的，当时找的就是自由行团队的<strong>
        <span class="tmp_name"></span>
        </strong>带我们玩的。我们本来是计划自己玩的，看了几篇攻略游记后彻底头晕了...刚好有个哥们说联系过<strong>定制师-
        <span class="tmp_name"></span>
          </strong>安排行程，觉得服务、人品都不错，而且我也觉得这种自由行很不错，就试着联系了一下<strong>
        <span class="tmp_name"></span>
        </strong>，没想到她很快就把北京的景区大概分布讲清楚，行程怎么规划、带什么东西都讲的很详细，真的非常专业！而且经常聊到凌晨一两点，她都会回我！在北京的几天真的玩的超开心，其实旅行途中，景点并不重要，重要的是你和谁一起旅行，<strong>
        <span class="tmp_name"></span>
        </strong>性格很豪爽大方，给我们唱唱歌、讲当地故事，大家就像朋友一样。去北京的可以找她，服务和人品真的超赞的。</p>
    </div>
    <div class="detail">
      <div class="info"><span class="portrait"><img src="/static/zmobilestrategy/images/2.png" alt="">
        </span><span class="name">小鱼儿</span><span class="grade">lv6</span> <span class="time">3天前</span></div>
      <p>我朋友是北京自由行的，回来以后说玩的累死了，那边景点多，而且比较分散。后面我去北京玩就找到了网上口碑一直不错的<strong>定制师-
          <span class="tmp_name"></span>
          </strong><span style="color: #feb56b">（当地人）</span>，<strong>
          <span class="tmp_name"></span>
        </strong>帮我们买票带路，玩的很轻松，而且还带我们去吃了当地最有名的烤鸭，真的超级好吃。<strong>
          <span class="tmp_name"></span>
        </strong>一路上都帮我们拍照，很热情有耐心，人很好。对了，在长城的时候她还帮我们介绍了跟拍，拍出来的照片美美哒，反正很开心的一次旅行吧，<strong>
          <span class="tmp_name"></span>
        </strong>真的人不错，去北京找她就对了~~~</p>
      <div class="reversion">
        <p><span
            class="span3">芒果：</span>我上次去北京就是自己玩的。北京景区分布有点散，当时也是第一次去，玩的累死了。北京消费也挺贵的，我们玩的是5天，人均花了3000多，还不算来回机票呢。可以给个<strong>
          <span class="tmp_name"></span>
          </strong>的联系方式吗？打算下次再去！那个旅游跟拍一天多少钱？是按小时算的么？</p>
        <p><span class="span3">小鱼儿 ：</span><em>@芒果</em> 我只知道<strong>
          <span class="tmp_name"></span>
          </strong>的联系方式：<strong>
          <span class="tmp_name"></span>
          </strong> <em>（微信同号）</em></p>
        <p><span class="span3">小黄鹂：</span>是的，那个是她的微信。我昨天联系了<strong>
          <span class="tmp_name"></span>
          </strong>，刚到北京，她就亲自来接我们，正准备去酒店呢（期待我们的北京之旅，哈哈...）</p>
      </div>
    </div>
    <div class="detail">
      <div class="info"><span class="portrait"><img src="/static/zmobilestrategy/images/3.png" alt="">
        </span><span class="name">阿风</span><span class="grade">lv12</span> <span class="time">2天前</span></div>
      <p>如果想了解当地的话强烈推荐<strong>定制师-
          <span class="tmp_name"></span>
        </strong>。我们上次好多人去北京玩5天，本来是打算自己玩的，做了好多攻略都没搞清楚，最后索性在网上联系了很多人推荐的<strong>定制师-
          <span class="tmp_name"></span>
        </strong>，没想到马上帮我们安排好了行程，她真得还蛮专业的，据说以前都是做向导的，都是北京本地人，现在专门做半自由行定制服务！她帮带路、排队买票、帮拍照，总之就是很好啦，对景区的讲解也很专业，花费也很省钱，大家如果想要去北京的可以联系她们，这是<strong>
          <span class="tmp_name"></span>
        </strong>的联系方式：<strong>
          <span class="tmp_name"></span>
        </strong><em>（不妨加微信了解下）</em></p>
      <div class="reversion">
        <p><span class="span3">懒人一枚：</span>是的是的，我们去北京玩也是找的<strong>定制师-
          <span class="tmp_name"></span>
            </strong>，后面回来一算账，酒店+门票，还有车，真的帮我们省了不少钱，差不多省了1000吧，玩的也自由，想怎么玩就怎么玩。</p>
      </div>

      <div class="detail">
        <div class="info"><span class="portrait"><img src="/static/zmobilestrategy/images/6.png" alt="">
          </span><span class="name">树皮泥</span><span class="grade">lv6</span> <span class="time">2天前</span></div>
        <p>想去看看故宫还有长城，一直没时间，先加上<strong>
          <span class="tmp_name"></span>
          </strong>微信。我就一个人，有想去没队友的可以私我加微信一起去哈。</p>
      </div>
      <div class="detail">
        <div class="info"><span class="portrait"><img src="/static/zmobilestrategy/images/4.png" alt="">
          </span><span class="name">大东</span><span class="grade">lv9</span> <span class="time">1天前</span></div>
        <p>我是武汉酷骑自行车俱乐部的驴友，今天是我们来北京的第二天，找的就是<strong>定制师-
            <span class="tmp_name"></span>
            </strong>帮我们安排的，昨天凌晨2点到的北京，没想到<strong>
            <span class="tmp_name"></span>
          </strong>还是那么热情的等我们，安排的酒店非常好。今天刚从长城回来，玩的很开心，我觉得来北京就要自由行，推荐你找<strong>
            <span class="tmp_name"></span>
            ：
            <span class="tmp_phone"></span>
          </strong> <em>（微信同号）</em>，她真的很专业，最主要是人也超级好。</p>
      </div>
      <div class="detail">
        <div class="info"><span class="portrait"><img src="/static/zmobilestrategy/images/8.png" alt="">
          </span><span class="name">独舞者</span><span class="grade">lv7</span> <span class="time">1天前</span></div>
        <p>
          北京作为全国政治中心、文化中心、国际交往中心、科技创新中心，旅游业发达，风景独特，像北京这样旅游业比较成熟的旅游城市，各个景点分散，跟团游玩不好，建议大家选择楼上推荐的旅游方式，省钱还省心，何乐而不为？上次和驴友们一起齐聚北京也是找<strong>
            <span class="tmp_name"></span>
          </strong>规划的路线，人很好还热心，因为大家一起去，<strong>
            <span class="tmp_name"></span>
          </strong>耐心的制定了一条大家都满意的北京之旅线路。没白来一趟，开心开心。</p>
        <div class="reversion">
          <p><span class="span3">阿华：</span>赞成！我去北京也是找的<strong>
            <span class="tmp_name"></span>
            </strong>，服务挺好的，回程的时候还给我们办理的登机牌，安全到家后还来电询问反馈！很贴心！推荐一波，
            <span class="tmp_name"></span>
            微信：<strong>
              <span class="tmp_phone"></span>
            </strong></p>
          <p><span class="span3">绿萝姑娘 ：</span>听你们说的北京自由行的服务还不错，他们是旅行团还是？</p>
          <p><span
              class="span3">小树皮泥：</span>他们是专门做旅行定制的，跟传统旅行社很不一样，现在旅行社的团，基本都有着各种隐形消费，在我们自由行驴友的圈子里，北京定制游无论是品质还是服务与口碑，都是有口皆碑的。这种半自助的旅游才是现代人想要的旅游嘛！
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="comment">
    <textarea class="text" placeholder="添加评论........"></textarea>
    <button class="btn">提交</button>
    <!--评论成功提示  -->
    <div class="success">提交成功！</div>
  </div>
  <div class="footer" style="font-size: 10px; letter-spacing: 0px;">
    <div class="container">
      <div class="row" align="center" style="color:#808080">
        <p class="copyright">
        </p>
        <ul class="footer-menu">
          <li><a href="http://www.gzpengen.cn/introduce.html">关于我们</a></li>
          <li><a href="http://www.gzpengen.cn/introduce.html">联系我们</a></li>
          <li><a href="#">投诉建议</a></li>
          <li><a href="#">隐私保护</a></li>
          <li><a href="#">免责申明</a></li>
        </ul>
        <p></p>
        <p class="copyright">网站备案/许可证号：{{ company_info.license_num }}</p>
        <p class="copyright">© 2019 gzpengen.cn {{ company_info.company_name }}</p>
      </div>
    </div>
  </div>

  <script src="/static/zmobilestrategy/js/rem.js"></script>
  <script src="/static/zmobilestrategy/js/fastclick.js"></script>

</body>

</html>
<script>
  //
  $(".btn").click(function () {
    var value = $(".text").val(); // 获取值
    value = $.trim(value); // 用jQuery的trim方法删除前后空格
    if (value == '') { // 判断是否是空字符串，而不是null
      // alert("输入不能为空!");
      return false;
    };
    $(".success").fadeIn().fadeOut(1000);
    $(".text").val("")
  })
</script>